.welcome-text {
    font-size: 48px;
    font-family: 'custom-font', Brush Script MT, Brush Script Std, cursive;
    color: rgb(255, 255, 255);
    animation: fadeIn 2s;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10vh;
    font-size: 5.4vw;
  
    
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .welcome-text.fade-out {
    animation: fadeOut 2s;
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.01;
    }
  }

  