.website-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .website-card h2 {
    margin-bottom: 20px;
  }
  
  .website-iframe {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
  }
  