.header {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(85, 85, 85);
    opacity: 0.85;
    color: white;
    font-size: 24px;
    position: fixed;
    top: 0;
    z-index: 9999;
   
    width: 100%;
  }
  
  .header .logo-container {
    display: flex;
    
  }
  
  .header .logo-container a {
    display: inline-block;
    margin-right: 10px;
    
  }
  
  .header .logo-container a i {
    font-size: 80px;
    color: rgb(255, 255, 255);
    padding: 20px;
    
    
  }
  
  .header .logo-container a i:hover {
    transform: scale(1.5);
  }
  
  .header .username {
    margin-right: 20px;
  }
  
  .header nav ul {
    display: flex;
  }
  
  .header nav ul li {
    list-style: none;
    margin-left: 20px;
  }
  
  .header nav ul li a.nav-link {
    padding-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
    text-decoration: none;
  }
  
  
  .header nav ul li a.nav-link:hover {
    color: rgb(30, 255, 10);
    font-weight: bold;
    transform: scale(1.5) !important;
  }
  
    
  
  
  
  .header .logo-container a i.fab.fa-linkedin:hover {
    color: rgb(0, 123, 181);
  }
  
  .header .logo-container a i.fab.fa-twitter:hover {
    color: rgb(29, 161, 242);
  }
  
  .header .logo-container a i.fab.fa-github:hover {
    color: black;
  }
  
  .header .logo-container a i.fab.fa-youtube:hover {
    color: rgb(203, 32, 39);
  }
  
  
  /*   Scroll      */
  
  .scroll-down header {
    transform: translate3d(0, -100%, 0);
  }
  
  
  