

.header {
    height: 7vh;
  }
  
  .landing {
    /* This element is a flex container, with its children displayed in a column */
    
    display: flex;
    flex-direction: column;
    /* Center align the children within the container */
    align-items: center;
    /* Add some padding to the bottom of the container */
    padding-bottom: 300px;
    /* Add some padding to the top of the container */
    padding-top: 200px;
  }
  
  .landing-text {
    font-size: 50px;
    
    color: white;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ffffff;
  
    /* Add the background image and set its opacity */
    background-image: url(./assets/me.jpg);
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    background-blend-mode: multiply;
   
  }
  
  #aboutMe {
    color: rgb(255, 255, 255);
    font-size: 80px;
    
  }
  
  .portfolio-cards {
    /* Reset margin and padding */
    margin: 0;
    padding: px;
    /* This element is a flex container, with its children displayed in a column */
    display: flex;
    flex-direction: column;
    /* Center align the children within the container */
    align-items: center;
    /* Align the children horizontally within the container */
    justify-content: center;
    /* Set the text color to white */
    color: rgb(255, 255, 255);
  }
  
  .portfolio-cards .card {
    /* Position the card relatively */
    position: relative;
    /* Set the width to 400px and allow the card to shrink or grow as necessary */
    width: 40vw;
    height: 40vh;
    /* Center align the content within the card */
    text-align: right;
    
    transition: transform 0.5s ease-in-out;
  
    padding: 20px;
    display: flex;
    background-color: black;
  }
  
  
  iframe {
    /* Reset margin and padding */
    margin: 0;
    padding: 20px;
    /* Set the width and height of the iframes */
    min-width: 1200px;
    max-width: 400px;
    width: 100%;
    border: none;
    height: 90%;
    background-color: rgb(104, 85, 85);
    transform-origin: top left;
    image-rendering: pixelated;
  }
  
  @media only screen and (max-width: 768px) {
    .portfolio-cards .card {
      /* On small screens, make the cards take up 100% width */
      width: 100%;
    }
  }
  
  .portfolio-cards .card:hover {
    /* Scale up the selected card */
    transform: scale(1.9);
    /* Bring the selected card to the front */
    z-index: 1;
  }
  
  .portfolio-cards .card .title {
    /* Add some margin to the top of the title */
    margin-top: 20px;
  }
  
  .portfolio-cards .card .description {
    /* Add some margin to the top of the description */
    margin-top: 20px;
  }
  
  .body {
    /* Set the background color to aquamarine */
    background-color: aquamarine;
  }
  
  .portfolio-cards .card .title,
  .portfolio-cards .card .description,
  .portfolio-cards .card .button {
    /* Align the accompanying text and button to the right */
    align-self: flex-end;
    height: 10vh;
    width: 15vw;
  }
  
  .logo {
    padding-top: 0px;
    /* Set the width to 100px */
    width: 30vw;
    /* Set the height to 100px */
    height: 30vw;
    /* Set the border radius to 50% to make the image circular */
    border-radius: 50%;
    /* Set the background color to white */
    background-color: transparent;
  }
  
  .header .logo-container a i {
    /* Other styles */
    transition: transform 1s ease-in-out; /* Add transition with a duration of 1s */
    transform: rotate(0deg) scale(1); /* Set the initial rotation to 0deg and the initial scale to 1 */
  }
  
  .header .logo-container a i:hover {
    transform: rotate(360deg) scale(1.9); /* Add rotation of 360deg and scale of 1.5 on hover */
  }
  
  
  .logo:hover {
    animation: spin 1s linear infinite;
  }
  
  #buttonSite {
    width: 90%;
    height: 40px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease;
    }
    
    #buttonSite:hover {
    background-color: #218838;
    }
  
    #P1header {
      font-size: 30px;
      font-weight: bold;
    }
    
    #P2text {
      font-size: 15px;
      line-height: 1.4;
      
    }